body, h1, h2, h3, h4, p, a {
    font-family: Mont;
}

body {
    
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    height: 250px;
}

header > img {
    position: absolute;
    left: 0;
    align-self: flex-start;
    display: inline-block;
    height: 250px;
}

@media screen and (max-width: 700px) {
    header {
        height: 100px;
    }
    header > img {
        height: 100px;
    }
}